/* Margins */
.m-3rem {
    margin-bottom: 3rem;
}

/* Font Sizes */
.fs-3rem {
    font-size: 3rem;
}

.fs-1rem {
    font-size: 1rem;
}

/* Max Width */
.max-w-20rem {
    max-width: 20rem;
}

.home-introduction {
    flex-direction: row;
}

.display-flex{
    display: flex;
}

.align-items{
    align-items: center;
}

.image-responsive{
    width: 100%;
    border-radius: 2rem;
}

.justify-content{
    justify-content: space-evenly;
}

/* Flex Container */
.flex-container {
    flex-direction: column;
}

/* Scene Container */
#scene-container {
    width: 30rem;
    height: 30rem;
}

/* Flex Container for Home About */
.home-about-container {
    flex-direction: column;
}

.home-about-container > div:first-child {
    margin: 3rem;
}

/* Image */
.image {
    width: 30rem;
}

/* Image with Background */
.image-background {
    height: 22rem;
    width: 35rem;
}

/* Remove Border Radius for Image */
.no-border-radius {
    border-radius: 0rem;
}

/* Button Home */
.button-home {
    text-align: center;
    border: 0.2rem solid var(--accent);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    color: #2A7697;
    background-color: var(--white);
}

.button-home:hover {
    color: var(--white);
    background-color: var(--accent);
    transition: all 1s ease-in-out;
}

/* Shoes Positioning */
.shoes-positioning {
    flex-direction: column;
}

/* Shoes */
.shoes {
    flex-direction: column-reverse;
    text-align: center;
    margin: 2rem 2rem;
    padding: 3rem 1rem;
    box-shadow: rgba(42, 118, 151, 0.17) 0rem -1.4375rem 1.5625rem 0rem inset, rgba(42, 118, 151, 0.15) 0rem -2.25rem 1.875rem 0rem inset, rgba(42, 118, 151, 0.1) 0rem -4.9375rem 2.5rem 0rem inset, rgba(42, 118, 151, 0.06) 0rem 0.0625rem 0.03125rem, rgba(42, 118, 151, 0.09) 0rem 0.125rem 0.0625rem, rgba(42, 118, 151, 0.09) 0rem 0.25rem 0.125rem, rgba(42, 118, 151, 0.09) 0rem 0.5rem 0.25rem, rgba(42, 118, 151, 0.09) 0rem 1rem 0.5rem;
    border-radius: 2rem;
}

/* Image Quality */
.image-quality {
    width: 15rem;
}

/* Food Image */
.food img {
    width: 9rem;
    height: 9rem;
}

/* Shoe Image */
.shoe-image {
    width: 10rem;
    height: 10rem;
    animation: jump 1s alternate infinite;
    transform-origin: center bottom;
    margin-top: 1rem;
}

#shoes li{
    list-style: none;
}

/* Media Queries */
@media only screen and (min-width: 600px) {
    .home-introduction {
        flex-direction: row-reverse;
        margin: 4rem 0;
        flex-wrap: wrap;
    }
    .home-introduction-shoes {
        flex-direction: none;
        margin: 4rem 0;
        flex-wrap: wrap;
    }
    .home-about-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        margin-bottom: 8rem;
    }
    .home-introduction {
        border-radius: 5rem;
    }
    .shoes-positioning {
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;
        margin-bottom: 8rem;
    }
    .shoes {
        width: 20rem;
    }
    .image-background {
        height: 22rem;
        width: 35rem;
    }
}

@media only screen and (min-width: 1150px) {
    .image-responsive{
        border-radius: 5rem;
        width: 70rem;
    }
}