/* Typography */
.text-center {
    text-align: center;
}
ul{
    margin: 0 2rem;
}
.list {
    list-style: circle;
}
.max-width{
    max-width: 40rem;
}
.display-flex{
    display: flex;
}
.align-items{
    align-items: center;
}

.target > ul{
    gap: 2rem;
}
.about-one {
    flex-direction: column;
}

.about-two {
    flex-direction: column;
}

.about-three {
    flex-direction: column;
}

/* Images */
.image-15rem {
    height: 15rem;
    width: 15rem;
}

/* Background */
.background-target {
    margin: 2rem 0;
    padding: 3rem 1rem;
    box-shadow: 0 0 .5rem .1rem var(--primary);
    width: 100%;
}

/* Media Queries */
@media only screen and (min-width: 1000px) {
    .max-width-30rem {
        max-width: 30rem;
    }

    .about-one {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 6rem;
    }

    .about-two {
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-evenly;
        gap: 6rem;
    }

    .about-three {
        flex-direction: row;
        justify-content: space-evenly;
        gap: 6rem;
    }
}