.text-sm {
    font-size: 50%;
}

.text-lg {
    font-size: 2.6rem;
}

.text-xl {
    font-size: 2.5rem;
}

.text-base {
    font-size: 1.5rem;
}

/* Flex container styles */
.flex {
    display: flex;
}

.flex-wrap {
    flex-wrap: wrap;
}
.align-left{
    text-align: left;
}
/* Spacing utility classes */
.p-2 {
    padding: 1rem;
}

.p-1 {
    padding: 1rem;
}

.m-1 {
    margin: 1.5rem;
}

/* Gap utility classes */
.gap-1 {
    gap: 1.5rem;
}

#scene-schoen1, #scene-schoen2, #scene-schoen3, #scene-schoen4, #scene-schoen5, #scene-schoen6, #scene-schoen7, #scene-schoen8,
#scene-schoen9, #scene-schoen10, #scene-schoen11, #scene-schoen12{
    display: flex;
    height: 15rem;
    width: 17rem;
    padding: 1.2rem;
    border: 0.3rem solid #2a769768;
    cursor: pointer;
    border-radius: 1.5rem;
    align-items: center;
    justify-content: center;
}

/*Click text*/
#click-text {
    display: block;
    font-size: 2.5rem;
}

#scene-schoen1.show-3d, #scene-schoen2.show-3d, #scene-schoen3.show-3d, #scene-schoen4.show-3d, #scene-schoen5.show-3d, #scene-schoen6.show-3d, #scene-schoen7.show-3d, #scene-schoen8.show-3d,
#scene-schoen9.show-3d, #scene-schoen10.show-3d, #scene-schoen11.show-3d, #scene-schoen12.show-3d {
    display: block;
}

#scene-schoen1.hide-text p, #scene-schoen2.hide-text p, #scene-schoen3.hide-text p, #scene-schoen4.hide-text p, #scene-schoen5.hide-text p, #scene-schoen6.hide-text p, #scene-schoen7.hide-text p, #scene-schoen8.hide-text p,
#scene-schoen9.hide-text p, #scene-schoen10.hide-text p, #scene-schoen11.hide-text p, #scene-schoen12.hide-text p {
    display: none;
}
  

/* Border utility classes */
.border {
    border: 0.2rem solid #2a769768;
    border-radius: 1rem;
}

.border-thicker {
    border: 0.3rem solid #2a769768;
    border-radius: 1.5rem;
}

/* Background utility class */
.bg-light-gray {
    background: #f9f9f9;
}

/* Text color utility classes */
.text-blue {
    color: #2a7697f0;
}

.text-gray {
    color: #666;
}

/* Image styles */
.image-container {
    display: flex;
    align-items: stretch;
    flex: 1 1 50rem;
    justify-content: space-between;
}

.image-container:hover img {
    transform: scale(1);
}

.image-container > img {
    width: 100%;
}

.click-image {
    width: 19%;
}

.click-image > img:hover {
    background: #2a769768;
    cursor: pointer;
}

.first-image {
    width: 78%;
    height: 78%;
    padding: 1.2rem;
    display: flex;
    justify-content: center;
}

.info {
    flex: 1 1 40rem;
}

.shoe-price {
    font-weight: bolder;
}

main {
    font-size: 50%;
}

/* Additional detail-shoes styles */
.detail-shoes > .images {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    border: .2rem solid #2a769768;
    border-radius: 1rem;
    background: #f9f9f9;
    padding: 2rem;
    align-items: center;
    margin: 1.5rem;
}

/* Additional image styles */
.images > .image-container {
    display: flex;
    gap: 1.5rem;
    align-items: center;
    flex: 1 1 50rem;
}

.first-image > img:hover {
    transform: scale(1.1);
}

/* Additional info styles */
.info > .shoe-price {
    font-size: 2.6rem;
    color: #2a7697f0;
    font-weight: bolder;
}

.image-container > .click-image {
    width: 19%;
}

.click-image > img:hover {
    background: #2a769768;
}

.first-image > img {
    width: 70%;
}

.info > h1 {
    font-size: 2.5rem;
    color: #2a7697f0;
}

.click-image > img {
    width: 100%;
    border: .3rem solid #2a769768;
    cursor: pointer;
    border-radius: 1.5rem;
}

.info > p {
    font-size: 1.5rem;
    color: #666;
    padding: 1rem 0;
}

.images > .info {
    flex: 1 1 40rem;
}
  
@media only screen and (min-width: 960px){
    #scene-schoen1, #scene-schoen2, #scene-schoen3, #scene-schoen4, #scene-schoen5, #scene-schoen6, #scene-schoen7, #scene-schoen8,
    #scene-schoen9, #scene-schoen10, #scene-schoen11, #scene-schoen12 {
        height: 23rem;
        width: 23rem;
    }
    .first-image {
        display: flex;
        width: 75%;
        height: 40rem;
        padding: 1.2rem;
        align-items: center;
        justify-content: flex-start;
    }
}